@import "../../styles/variables.scss";

.container {
    width: 100vw;
    height: 100vh;
    background-color: $base-color-light;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lds_dual_ring {
    display: inline-block;
    width: 80px;
    height: 80px;

    &:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid #fff;
        border-color: #fff transparent #fff transparent;
        animation: lds_dual_ring 1.2s linear infinite;
    }
}

@keyframes lds_dual_ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
