@import "../variables.scss";


.description {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 250px;
    margin-top: 20px;
    //background-color: $bg-color;
    margin: 40px auto auto auto ;
    display: 'block';
    padding: 0 20px;
    max-width: 1200px;
    @media screen and (max-width: 65rem) {
        height: auto;
        justify-content: space-between;
    }
    h1 {
        font-family: "Merriweather", sans-serif;
    }
}

.left {
    height: 100%;
    float: right;
    padding: 25px;
    max-width: 500px;
    @media screen and (max-width: 65rem) {
        max-width: 200px;
    }
}

.descriptionImage {
    display: block;
    height: 100%;
    width: 378px;
    object-fit: contain;
    max-height: 250px;
    border-radius: 12px;
    @media screen and (max-width: 65rem) {
        max-height: auto;
        width: 200px;
        height: auto;
    }
}

.spaceTag {
    padding: 10px;
}

.right {
    width: auto;
    height: 100%;
    float: right;
    @media screen and (max-width: 65rem) {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        //width: 100%;
    }
}
.details {
    border: 0;
    margin-top: 2rem;
    p {
        font-family: "Montserrat", sans-serif;
        font-size: 1.1rem;
    }
}
.fullStars {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #fde16d;
}
.emptyStars:before, .fullStars:before {
    content:"\2605\2605\2605\2605\2605";
    font-size: 15pt;
}
.emptyStars:before {
    -webkit-text-stroke: 1px #848484;
}
.fullStars:before {
    -webkit-text-stroke: 1px orange;
}
/* Webkit-text-stroke is not supported on firefox or IE */

/* Firefox */
 @-moz-document url-prefix() {
    .full-stars {
        color: #ECBE24;
    }
}