@import './variables.scss';


.card {
    font-family: "Montserrat", sans-serif;

    border: 1.5px solid $base-color;
    background-color: $base-color-light;
    outline: none;
    height: 85vh;
    color: $base-color;
    font-size: 1rem;
    letter-spacing: 2px;
    margin-top: 1.25rem;
    font-weight: 600;
    transition: .5s;
    border-radius: 0.5rem;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 4.55rem;
    justify-content: center;
    box-sizing: border-box;
    min-width: fit-content;
    width: 45%;
    padding: 10px;

}


.button {
    font-family: "Montserrat", sans-serif;
    width: 80%;
    border: 1.5px solid $base-color;
    background-color: $base-color;
    text-transform: uppercase;
    outline: none;
    height: 3rem;
    color: #fff;
    font-size: 1rem;
    letter-spacing: 2px;
    margin-top: 1rem;
    font-weight: 900;
    transition: .5s;
    border-radius: 0.5rem;
    cursor: pointer;
    display: block;
    margin: 1rem auto;

    &:hover {
        background-color: #fff;
        color: $base-color;
    }
}

.body {
    margin: 0;
    height: 99vh;
    color: #333;
    box-sizing: content-box;
    display: flex;
    flex-flow: row wrap;

    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    h3 {
        margin: 20px 0;
    }
}

.miniblock {

    flex-basis: content;
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    min-width: 80%;
    align-items: center;
    align-content: center;
    align-self: center;
    margin: 5 5;
    padding: 3px;
    justify-content: center;
    box-sizing: border-box;

    li {
        color: $base-color
    }

}

.mininext {
    display: flex;
    flex-direction: row;
    min-height: fit-content;
    min-width: auto;
    margin: 15px;
    justify-content: center;
    box-sizing: border-box;
    padding: 1rem;

}

.main {

    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5rem;
    justify-content: center;
    box-sizing: border-box;
    min-width: fit-content;
    width: 45%;
    margin-right: 5rem;
    padding: 30px;
    gap: 10px;
    background-color: white;
    align-self: center;

    h1 {
        font-size: 40px;
        margin-top: 16px;
    }

    h3 {
        margin: 20px 0;
    }
}

.middle {

    height: 90vh;
    display: flex;
    margin-top: 15vh;
    flex-direction: column;
    gap: 15px;
    font-family: "Montserrat", sans-serif;
    align-items: center;
}

.middle>* {
    justify-content: space-evenly;
}


.select {
    box-sizing: border-box;
    width: 100%;
    border: 3px solid $base-color-light;
    padding: 10px;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
}


.input {
    font-family: "Montserrat", sans-serif;
    padding: 10px;
    margin: 10px 0;
    border: 3px solid $base-color-light;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    vertical-align: middle;


    &::placeholder {
        color: #aaa;
    }

    &:focus {
        border-color: $base-color-light;
        outline: none;
    }
}

.label {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    align-self: center;

    text-align: center;
    margin-top: -0.7rem !important;
    margin-bottom: 0.8rem;
    margin-left: 5px;
}

.error {
    margin-top: -0.7rem !important;
    margin-bottom: 0.8rem;
    margin-left: 5px;
    text-align: left;
    color: $secondary;
    font-weight: 600;
}