@import "../../styles/variables.scss";

.pageContainer {
    width: 100%;
    height: 100vh;
}

.navbar {
    height: 100px;
    width: 100%;
    background-color: white;
    position: sticky;
    justify-content: space-between;
    top: 0;
    display: flex;
    z-index: 1000;
    padding: 20px;
    box-shadow: 1px 1px   #889bdd;
}

.navbar > div {
    display: flex;
    flex-direction: row;
}

.navbarLogo {
    width: 40px;
    height: 40px;
}

.navbarProfileLogo {
    height: 40px;
}

.navbarIconContainer {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.navbarProfileIconContainer {
    justify-self: end;
}

.icon {
    display: flex;
    align-items: center;
    padding: 30px;

    h2 {
        font-family: "Merriweather", sans-serif;
        color: $secondary;
        margin-left: 15px;
        margin-top: -8px;
    }
}