@import "../variables.scss";

.titleCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.titleCard > *{
    margin-top: 0.5rem;
}

.resourceDetailHeader {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.resourceDetailHeaderButton {
    width: 8rem !important;
    margin: 0 !important;
}

.resourceDetailPage {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mdeBox {
    margin-top: 2rem;
    flex-grow: 1;
}

.titleCreator {
    display: flex;
    align-items: center;

    span {
        margin-left: 0.5rem;
    }
}

.input {
    height: calc(1.8em + 1.375rem + 2px);
    padding: 0.6875rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    border: 2px solid #ddd;
    color: inherit;
    font-family: inherit;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    transition: 0.5s;

    &::placeholder {
        color: #aaa;
    }

    &:focus {
        border-color: $base-color-light;
        outline: none;
    }
}

.form {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    width: 80%;

    @media screen and (min-width: 48rem) {
        width: 50%;
    }
}