@import "../variables.scss";

.titleCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h1 {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
        margin-left: 2.5px;
        font-weight: 600;
    }
}

.titleCard>* {
    margin-top: 0.5rem;
}

.resourceDetailHeader {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
}

.resourceDetailHeaderButton {
    width: 8rem !important;
    margin: 0 !important;
}

.resourceDetailPage {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mdeBox {
    margin-top: 10px;
    flex-grow: 1;
    min-height: 300px;
}

.titleCreator {
    display: flex;
    align-items: center;

    span {
        margin-left: 0.5rem;
    }
}

.input {
    height: calc(1.8em + 1.375rem + 2px);
    padding: 0.6875rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    border: 2px solid #ddd;
    color: inherit;
    font-family: inherit;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    transition: 0.5s;
    width: 400px;

    &::placeholder {
        color: #aaa;
    }

    &:focus {
        border-color: $base-color-light;
        outline: none;
    }
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 0;
    width: 100%;
}