@import "./variables.scss";

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI,
        Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
    color: $black;
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.w-md-editor {
    border-radius: 0.5rem !important;
    overflow: hidden;
}

button[data-name=checked-list] {
    display: none;
}

.my-masonry-grid {
    display: flex;
    margin-left: -30px;
    width: auto;
}

.my-masonry-grid_column {
    padding-left: 30px;
    background-clip: padding-box;
}

.my-masonry-grid_column>div {
    margin: 0 auto;
    margin-bottom: 30px;
}