@import "../../styles/variables.scss";

.icon {
    display: flex;
    align-items: center;

    h2 {
        font-family: "Merriweather", sans-serif;
        color: $secondary;
        margin-left: 20px;
        margin-top: -4px;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: 0 96px;
    position: relative;
    background-color: transparent;
}

.main_nav_list {
    list-style: none;

    display: flex;
    align-items: center;
    gap: 48px;

    svg {
        cursor: pointer;
        color: $black;            
        transition: color 200ms linear;

        &:hover {
            color: $secondary;
        }
    }
}

.main_nav_links:link,
.main_nav_links:visited {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    color: #333;
    text-decoration: none;

    transition: all 0.3s;
}

.main_nav_links:hover,
.main_nav_links:active {
    color: $secondary;
}

.btn_mobile_nav {
    border: none;
    background: none;
    cursor: pointer;

    display: none;
}

.icon_mobile_nav {
    height: 4.8rem;
    width: 4.8rem;
    color: #333;
}

.icon_mobile_nav[name="close-outline"] {
    display: none;
}

.activitiesPageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 400px;
    position: relative;
}

.activitiesContainer {
    background-color: #4d4ffa;
    padding: 10px;
    position: absolute;
    top: 0;
}

.activityContainer {
    border-radius: 12px;
    padding: 10px 10px;
    color: #4d4ffa;
    background-color: white;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.activitiesTitle {
    margin-bottom: 50px;
}

.activityIconFrame {
    background-color: #4d4ffa;
    border-radius: 100%;
    min-width: 40px !important;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 20px;
}

.activityIcon {
    color: white;
}

.activityBody {
    font-size: 11px;
}